# Python
.env
.env.example
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
venv/

# Django static/media
staticfiles/
media/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
.DS_Store
